* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.calculator-body {
	border: 3.5px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
  width: 310px;
  height: 530px;
	margin: auto;
  margin-bottom: 5px;
  padding: 0 5px;

}

#output {
	border: 2.75px solid #ddd;
	border-radius: 10px;
	height: 80px;
	width: 300px;
	margin: 30px auto;
  text-align: right;
}

#number, #oberators {
    margin: 0px;
}

#operators a {
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 39px;
    background: -webkit-gradient(linear, left top, left bottom, from(#90EE90), to(#98FB98));
    background: -moz-linear-gradient(top, #90EE90, #98FB98);
    border-radius: 25px;
}

#numbers a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 43px;
    float: left;
    padding: 10px;
    margin: 5px 15px;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFAFA), to(#FFFADD));
    background: -moz-linear-gradient(top, #FFFAFA, #FFFADD);
    border-radius: 25px;
}
