* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.calculator-body {
	border: 3.5px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
	height: 600px;
	width: 500px;
	margin: auto;
}

.row .button {
  display: inline;
}

.button {
  font-size: 18px;
  color: #fff;
	background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  width: 95px;
}

#output {
	border: 2.75px solid #ddd;
	border-radius: 10px;
	height: 80px;
	width: 450px;
	margin: 30px auto;
}
